In [1]:
import pandas as pd
import numpy as np
import re 
from scipy import stats

In [2]:
data = pd.read_csv('novo_arquivo.csv')

In [5]:
data = data[:300]
data.to_csv('database_300.csv', index=False)

In [6]:
numerical = data.select_dtypes(include=[np.number])

In [4]:
categorical_values = data.select_dtypes(include=['object'])


numerical_df = data.drop(columns=categorical_values.columns.tolist())
bool_columns = numerical_df.select_dtypes(include=["bool"]).columns.tolist()
numerical_df[bool_columns] = numerical_df[bool_columns].astype(int)

In [5]:
numerical_df

,cdn_cliente,num_aval1,num_aval2,l_cpf,Bloqueado,log_ativo,cdn_repres,cdn_grupo_cliente,cliente_novo,cliente_foco,log-utiliza-portal,log_ativo_pa,log_cliente_pet,cod_rep_secundario,apl_classif_produtor,cod_transp,log_participante_bayer,log_cooperativa
0,1,0,0,0,0,1,35006,1,0,0,1,1,1,19069,1.0,71214,0,0
1,2,0,0,0,0,1,28000,2,0,0,0,0,0,0,1.0,71215,0,0
2,3,0,0,0,0,1,20000,3,0,0,0,0,0,0,1.0,48549,0,0
3,4,0,0,0,0,1,49010,4,0,0,1,1,0,0,50.0,1241,0,0
4,5,0,0,0,0,1,23100,5,0,0,0,0,0,0,1.0,71216,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139582,576105,0,0,0,0,1,13014,576105,1,0,0,0,0,0,0.0,0,0,0
139583,576108,0,0,0,0,1,16000,576108,1,0,0,0,0,0,0.0,0,0,0
139584,762109,0,0,0,0,1,28000,762109,1,0,0,0,0,0,NaN,0,0,0
139585,566183,0,0,0,0,1,31000,566183,0,0,0,0,0,0,0.0,0,0,0
139586,576117,0,0,0,0,1,86000,576117,1,0,0,0,0,0,NaN,0,0,0

In [12]:
z_scores = np.abs(stats.zscore(df['num_aval1'])) # calcula o z-score para cada valor numérico no dataset
limiar = 3 # define um limiar para identificar outliers
dados_sem_outliers = df[(z_scores < limiar).all(axis=1)]

ValueError: No axis named 1 for object type Series

In [7]:
df['situacao'].unique()

array(['Ativo', 'Inativo', nan], dtype=object)

In [9]:
df['situacao'].value_counts()

situacao
Inativo    101063
Ativo       38255
Name: count, dtype: int64

In [4]:
teste =df['situacao'].dropna()

In [5]:
teste

0           Ativo
1         Inativo
2           Ativo
3           Ativo
4           Ativo
           ...
139582    Inativo
139583    Inativo
139584    Inativo
139585    Inativo
139586    Inativo
Name: situacao, Length: 139318, dtype: object

In [8]:
nullteste = teste.isnull().sum()
print(nullteste)

0

In [5]:
null = df.isnull().sum()
print(null)

cdn_cliente                   0
num_aval1                     0
num_aval2                     0
dt_inscricao                  0
l_cpf                         0
estrutura                    61
Bloqueado                     0
log_ativo                     0
mot_ativo                 84932
cdn_repres                    0
dat_usuario                   0
origem                        0
cdn_grupo_cliente             0
tipo_produtor             79540
safra_crm                 29280
dt_implant_ini                0
cliente_novo                  0
dt_ult_movto                  0
safra_ult_movto           65180
situacao                    269
cliente_foco                  0
log-utiliza-portal            0
data-ativacao                 0
data-inativacao               0
log_ativo_pa                  0
log_cliente_pet               0
cod_rep_secundario            0
apl_classif_produtor      13344
apl_dt_valid_classif          0
cod_transp                    0
log_participante_bayer        0
log_cooperativa               0
dtype: int64

In [58]:
import pandas as pd
from scipy.signal import butter, filtfilt

def butter_lowpass(cutoff, fs, order=5):
    nyquist = 0.5 * fs
    normal_cutoff = cutoff / nyquist
    b, a = butter(order, normal_cutoff, btype='low', analog=False)
    return b, a

def butter_lowpass_filter(data, cutoff, fs, order=5):
    b, a = butter_lowpass(cutoff, fs, order=order)
    y = filtfilt(b, a, data)
    return y

# Defina a frequência de corte e a ordem do filtro
cutoff_freq = 1000  # Frequência de corte em Hz
order = 6           # Ordem do filtro

# Simule um DataFrame de exemplo
numeric_columns = df.select_dtypes(include=[np.number]).columns


# Aplicar o filtro passa-baixa em todas as colunas do DataFrame
for column in numeric_columns:
    df[column] = butter_lowpass_filter(df[column], cutoff_freq/(2*fs), fs=1000, order=order) # Normalizando a frequência de corte

print(df)

          cdn_cliente      num_aval1      num_aval2 dt_inscricao  l_cpf  \
0       6.612684e+119 -7.596405e+118 -6.227859e+117   1999-11-01  False
1       6.644578e+119 -7.591827e+118 -6.233627e+117   1996-03-01  False
2       6.676362e+119 -7.587204e+118 -6.239339e+117   1996-01-24  False
3       6.708036e+119 -7.582533e+118 -6.244995e+117   1996-03-04  False
4       6.739600e+119 -7.577817e+118 -6.250593e+117   1996-01-24  False
...               ...            ...            ...          ...    ...
139582  -1.792581e+61   1.661852e+60   1.518248e+59   2024-02-27  False
139583  -1.792581e+61   1.661852e+60   1.518248e+59   2024-02-27  False
139584  -1.792581e+61   1.661852e+60   1.518248e+59   2024-02-27  False
139585  -1.792581e+61   1.661852e+60   1.518248e+59   2024-02-27  False
139586  -1.792581e+61   1.661852e+60   1.518248e+59   2024-02-27  False

       estrutura  Bloqueado  log_ativo                   mot_ativo  \
0          Médio      False       True  COOP Nº 6502  - 23/07/2009
1           Mini      False       True                         NaN
2        Grande1      False       True                         NaN
3        Grande1      False       True                         NaN
4        Grande1      False       True                         NaN
...          ...        ...        ...                         ...
139582   PEQUENO      False       True                         NaN
139583      MINI      False       True                         NaN
139584    Nenhum      False       True                         NaN
139585    Nenhum      False       True                         NaN
139586    Nenhum      False       True                         NaN

           cdn_repres  ... data-ativacao data-inativacao  log_ativo_pa  \
0      -2.541009e+119  ...    2015-12-10          (null)          True
1      -2.642764e+119  ...        (null)          (null)         False
2      -2.744303e+119  ...        (null)          (null)         False
3      -2.845625e+119  ...    2015-09-29          (null)          True
4      -2.946729e+119  ...        (null)          (null)         False
...               ...  ...           ...             ...           ...
139582   2.103090e+61  ...        (null)          (null)         False
139583   2.103090e+61  ...        (null)          (null)         False
139584   2.103090e+61  ...        (null)          (null)         False
139585   2.103090e+61  ...        (null)          (null)         False
139586   2.103090e+61  ...        (null)          (null)         False

       log_cliente_pet cod_rep_secundario apl_classif_produtor  \
0                 True      1.273961e+119                  NaN
1                False      1.200039e+119                  NaN
2                False      1.126249e+119                  NaN
3                False      1.052593e+119                  NaN
4                False      9.790701e+118                  NaN
...                ...                ...                  ...
139582           False       4.735218e+60                  NaN
139583           False       4.735218e+60                  NaN
139584           False       4.735218e+60                  NaN
139585           False       4.735218e+60                  NaN
139586           False       4.735218e+60                  NaN

        apl_dt_valid_classif     cod_transp log_participante_bayer  \
0                 9999-12-31  2.188262e+119                  False
1                 9999-12-31  2.153652e+119                  False
2                 9999-12-31  2.119093e+119                  False
3                 9999-12-31  2.084587e+119                  False
4                 9999-12-31  2.050133e+119                  False
...                      ...            ...                    ...
139582            9999-12-31  -5.861724e+60                  False
139583            9999-12-31  -5.861724e+60                  False
139584                (null)  -5.861724e+60                  False
139585            9999-12-31  -5.861724e+60                  False
139586                (null)  -5.861724e+60                  False

       log_cooperativa
0                False
1                False
2                False
3                False
4                False
...                ...
139582           False
139583           False
139584           False
139585           False
139586           False

[139587 rows x 32 columns]

array([-2.24704713e-07, -1.37967797e-06,  1.01962462e-05,  1.82517283e-04,
        1.28362765e-03,  5.94230736e-03,  2.07099469e-02,  5.79158149e-02,
        1.34949021e-01,  2.68530631e-01,  4.63977349e-01,  7.03659880e-01,
        9.41955946e-01,  1.11298979e+00,  1.15169971e+00,  1.02093516e+00,
        7.31938764e-01,  3.46484798e-01, -4.33496461e-02, -3.50708181e-01,
       -5.28968586e-01, -5.89160894e-01, -5.90370365e-01, -6.06984523e-01,
       -6.88700301e-01, -8.33337675e-01, -9.86176320e-01, -1.06604003e+00,
       -1.00487024e+00, -7.81015485e-01, -4.30073824e-01, -2.88106849e-02,
        3.38642409e-01,  6.14452984e-01,  7.83579112e-01,  8.65866145e-01,
        8.90091515e-01,  8.66244732e-01,  7.73155717e-01,  5.69756140e-01,
        2.24554953e-01, -2.53124185e-01, -7.98698213e-01, -1.30493407e+00,
       -1.65755610e+00, -1.77735522e+00, -1.64864632e+00, -1.32093141e+00,
       -8.84230107e-01, -4.31310630e-01, -2.54528419e-02,  3.11944842e-01,
        5.90850294e-01,  8.28045624e-01,  1.02378881e+00,  1.15284242e+00,
        1.17417029e+00,  1.05310793e+00,  7.83297247e-01,  3.96335966e-01,
       -4.58232996e-02, -4.71310350e-01, -8.20700335e-01, -1.06020237e+00,
       -1.18056425e+00, -1.18517275e+00, -1.07696742e+00, -8.53883121e-01,
       -5.16590459e-01, -8.38375118e-02,  3.95320120e-01,  8.42971999e-01,
        1.17131911e+00,  1.31293796e+00,  1.24836518e+00,  1.01643858e+00,
        7.00455800e-01,  3.95176071e-01,  1.69468498e-01,  4.17983296e-02,
       -2.03631544e-02, -7.75547702e-02, -1.83290048e-01, -3.54066574e-01,
       -5.58829913e-01, -7.32603111e-01, -8.06989631e-01, -7.42004406e-01,
       -5.43478792e-01, -2.58178794e-01,  4.95278036e-02,  3.26364856e-01,
        5.49085003e-01,  7.24575431e-01,  8.72712734e-01,  1.00301243e+00,
        1.09935646e+00,  1.12241040e+00,  1.02928310e+00,  7.99991110e-01,
        4.55883845e-01,  5.89548125e-02, -3.08900612e-01, -5.76565712e-01,
       -7.08566784e-01, -7.11662467e-01, -6.21129257e-01, -4.76015866e-01,
       -2.98130977e-01, -8.63626639e-02,  1.71528069e-01,  4.77615307e-01,
        8.06316099e-01,  1.10196983e+00,  1.29467673e+00,  1.32767683e+00,
        1.18288533e+00,  8.91297820e-01,  5.22103907e-01,  1.55116701e-01,
       -1.50078258e-01, -3.72968506e-01, -5.30028714e-01, -6.54068936e-01,
       -7.67369382e-01, -8.64024883e-01, -9.11354218e-01, -8.69209563e-01,
       -7.15817376e-01, -4.65126193e-01, -1.65468774e-01,  1.20158354e-01,
        3.41611960e-01,  4.81929264e-01,  5.59342455e-01,  6.09818157e-01,
        6.59644955e-01,  7.03419149e-01,  7.00645610e-01,  5.94796113e-01,
        3.46489378e-01, -3.61697098e-02, -4.87149976e-01, -8.99943461e-01,
       -1.16694465e+00, -1.22302790e+00, -1.07229739e+00, -7.84407882e-01,
       -4.61712686e-01, -1.93289690e-01, -1.86596218e-02,  8.12193808e-02,
        1.62635103e-01,  2.80266579e-01,  4.52096769e-01,  6.46347235e-01,
        7.96191174e-01,  8.33098757e-01,  7.20439525e-01,  4.70101816e-01,
        1.35125727e-01, -2.15556294e-01, -5.25530381e-01, -7.67717832e-01,
       -9.42624871e-01, -1.06176030e+00, -1.12774457e+00, -1.12367150e+00,
       -1.01843928e+00, -7.85420176e-01, -4.24040031e-01,  2.82546634e-02,
        5.01356364e-01,  9.13634008e-01,  1.19862473e+00,  1.32397358e+00,
        1.29378180e+00,  1.13505698e+00,  8.77971041e-01,  5.42719567e-01,
        1.41004223e-01, -3.09644071e-01, -7.69377135e-01, -1.17059521e+00,
       -1.43125883e+00, -1.48395273e+00, -1.30768571e+00, -9.45653936e-01,
       -4.97208460e-01, -8.41560426e-02,  1.95322992e-01,  3.04281362e-01,
        2.77875692e-01,  2.01482669e-01,  1.66022288e-01,  2.21916788e-01,
        3.54024985e-01,  4.89676508e-01,  5.35669890e-01,  4.25852780e-01,
        1.55775672e-01, -2.12408500e-01, -5.76442712e-01, -8.37743380e-01,
       -9.40336951e-01, -8.86586296e-01, -7.24316695e-01, -5.14886244e-01,
       -3.00826341e-01, -9.05189891e-02,  1.33055971e-01,  3.86421590e-01,
        6.59238339e-01,  9.04286873e-01,  1.05112341e+00,  1.03708730e+00,
        8.39179546e-01,  4.89253470e-01,  6.36352419e-02, -3.47958140e-01,
       -6.78173312e-01, -9.04154697e-01, -1.04553863e+00, -1.14096785e+00,
       -1.21703380e+00, -1.26709569e+00, -1.25175922e+00, -1.12096373e+00,
       -8.45702958e-01, -4.41768060e-01,  2.81140667e-02,  4.75713501e-01,
        8.21390981e-01,  1.02313030e+00,  1.08585408e+00,  1.04747728e+00,
        9.50945695e-01,  8.18802749e-01,  6.44727350e-01,  4.06406621e-01,
        9.17281803e-02, -2.77658721e-01, -6.40478841e-01, -9.13249503e-01,
       -1.02348071e+00, -9.41791056e-01, -6.95901211e-01, -3.58716002e-01,
       -1.62827713e-02,  2.68041891e-01,  4.75036430e-01,  6.26408470e-01,
        7.60128639e-01,  8.99021260e-01,  1.03051622e+00,  1.10875916e+00,
        1.07770438e+00,  9.02369502e-01,  5.91145013e-01,  1.96989873e-01,
       -2.03257616e-01, -5.40485152e-01, -7.79107927e-01, -9.23761412e-01,
       -1.00434377e+00, -1.04898168e+00, -1.06108990e+00, -1.01406010e+00,
       -8.66911983e-01, -5.92375736e-01, -2.01864236e-01,  2.46832125e-01,
        6.64521187e-01,  9.62095008e-01,  1.08387139e+00,  1.02697449e+00,
        8.37755470e-01,  5.87635198e-01,  3.40837083e-01,  1.30039886e-01,
       -4.87189443e-02, -2.20877003e-01, -4.07412908e-01, -6.03020799e-01,
       -7.70863688e-01, -8.57363873e-01, -8.19420647e-01, -6.49166777e-01,
       -3.82044182e-01, -8.26463841e-02,  1.84970569e-01,  3.86691455e-01,
        5.31067764e-01,  6.57773952e-01,  8.07747228e-01,  9.91591770e-01,
        1.17435588e+00,  1.28620305e+00,  1.25450074e+00,  1.04113746e+00,
        6.65800854e-01,  2.03060598e-01, -2.45510547e-01, -5.90384497e-01,
       -7.85301784e-01, -8.36379007e-01, -7.86629931e-01, -6.85911496e-01,
       -5.62992034e-01, -4.14278903e-01, -2.14265199e-01,  5.90465475e-02,
        3.98571781e-01,  7.57374915e-01,  1.05966017e+00,  1.22866425e+00,
        1.21748796e+00,  1.02749710e+00,  7.05743255e-01,  3.23838153e-01,
       -5.01813227e-02, -3.72851829e-01, -6.29890342e-01, -8.24683429e-01,
       -9.59818681e-01, -1.02407285e+00, -9.93129302e-01, -8.43436468e-01,
       -5.70528412e-01, -2.00586759e-01,  2.11854915e-01,  5.99308995e-01,
        9.02247643e-01,  1.08569357e+00,  1.14456122e+00,  1.09680413e+00,
        9.69303798e-01,  7.84517157e-01,  5.54833259e-01,  2.86818377e-01,
       -8.59301743e-03, -3.07878614e-01, -5.75670430e-01, -7.75691988e-01,
       -8.85992955e-01, -9.08881627e-01, -8.68405189e-01, -7.95512539e-01,
       -7.08772545e-01, -6.02042673e-01, -4.47492070e-01, -2.14216266e-01,
        1.06383879e-01,  4.82276353e-01,  8.41158961e-01,  1.09226649e+00,
        1.16102699e+00,  1.02026998e+00,  7.02374775e-01,  2.86015147e-01,
       -1.35887157e-01, -4.90942710e-01, -7.47970745e-01, -9.14786298e-01,
       -1.01658847e+00, -1.06839119e+00, -1.05756268e+00, -9.46703560e-01,
       -6.95935332e-01, -2.93010473e-01,  2.25043034e-01,  7.71509947e-01,
        1.23365971e+00,  1.51167099e+00,  1.55586654e+00,  1.38481772e+00,
        1.07496562e+00,  7.25906295e-01,  4.17856601e-01,  1.82218689e-01,
       -5.11779455e-04, -1.75913808e-01, -3.78867195e-01, -6.05849843e-01,
       -8.11427078e-01, -9.30025675e-01, -9.10230336e-01, -7.42709724e-01,
       -4.67153045e-01, -1.55264015e-01,  1.20616040e-01,  3.16747065e-01,
        4.30426641e-01,  4.90258339e-01,  5.30732389e-01,  5.65923890e-01,
        5.77556583e-01,  5.24805761e-01,  3.70962869e-01,  1.11979830e-01,
       -2.10232900e-01, -5.19219566e-01, -7.35793739e-01, -8.13814058e-01,
       -7.60409145e-01, -6.29335636e-01, -4.90940996e-01, -3.95019190e-01,
       -3.46582272e-01, -3.07418278e-01, -2.22281873e-01, -5.52059795e-02,
        1.84093923e-01,  4.38440522e-01,  6.27506054e-01,  6.85630049e-01,
        5.93216703e-01,  3.85119788e-01,  1.31807499e-01, -9.60909348e-02,
       -2.60332059e-01, -3.67320571e-01, -4.54571949e-01, -5.60327390e-01,
       -6.94109888e-01, -8.24781754e-01, -8.92680980e-01, -8.39354204e-01,
       -6.39143930e-01, -3.16063064e-01,  6.28529295e-02,  4.14380030e-01,
        6.72479844e-01,  8.11351240e-01,  8.46980372e-01,  8.17781938e-01,
        7.56395551e-01,  6.69316760e-01,  5.36078958e-01,  3.28051291e-01,
        3.53373314e-02, -3.14645535e-01, -6.58833559e-01, -9.21034542e-01,
       -1.04407090e+00, -1.01453803e+00, -8.66637482e-01, -6.62488352e-01,
       -4.58989346e-01, -2.78963582e-01, -1.02654348e-01,  1.14932449e-01,
        4.09559675e-01,  7.75034890e-01,  1.15117265e+00,  1.44079884e+00,
        1.54855744e+00,  1.42241366e+00,  1.07721804e+00,  5.89166083e-01,
        6.50419961e-02, -3.97470639e-01, -7.38898636e-01, -9.44254649e-01,
       -1.02752440e+00, -1.00709698e+00, -8.88448417e-01, -6.64295880e-01,
       -3.30784005e-01,  9.19248296e-02,  5.49297722e-01,  9.61385737e-01,
        1.24921345e+00,  1.36631761e+00,  1.31890264e+00,  1.16266055e+00,
        9.75860760e-01,  8.21025962e-01,  7.14428644e-01,  6.19615443e-01,
        4.69351735e-01,  2.05747984e-01, -1.81487499e-01, -6.38450021e-01,
       -1.06140256e+00, -1.33599123e+00, -1.38281225e+00, -1.18795449e+00,
       -8.05133839e-01, -3.30329692e-01,  1.37271226e-01,  5.29072381e-01,
        8.21082311e-01,  1.02464205e+00,  1.16216220e+00,  1.24296036e+00,
        1.25292179e+00,  1.16315132e+00,  9.51728685e-01,  6.25166399e-01,
        2.26366831e-01, -1.76358446e-01, -5.13854149e-01, -7.41393962e-01,
       -8.51658703e-01, -8.69327349e-01, -8.31001102e-01, -7.61731303e-01,
       -6.61040272e-01, -5.06240304e-01, -2.71536471e-01,  4.74130619e-02,
        4.17376208e-01,  7.69928460e-01,  1.02292214e+00,  1.11146880e+00,
        1.01353056e+00,  7.57657931e-01,  4.09370519e-01,  4.34652070e-02,
       -2.83516972e-01, -5.47074797e-01, -7.49158471e-01, -8.98561311e-01,
       -9.90526072e-01, -9.99094156e-01, -8.88086822e-01, -6.35165566e-01,
       -2.54722477e-01,  1.95186663e-01,  6.28157086e-01,  9.60507569e-01,
        1.14228438e+00,  1.17212139e+00,  1.08867112e+00,  9.43937952e-01,
        7.73415099e-01,  5.79480026e-01,  3.37139918e-01,  1.86945349e-02,
       -3.76958756e-01, -8.07632707e-01, -1.19441828e+00, -1.44969305e+00,
       -1.51318813e+00, -1.37806637e+00, -1.09354982e+00, -7.42294145e-01,
       -4.03677749e-01, -1.21642695e-01,  1.06623309e-01,  3.16083339e-01,
        5.42260786e-01,  7.90683097e-01,  1.02459344e+00,  1.17805084e+00,
        1.18768183e+00,  1.02623044e+00,  7.20015695e-01,  3.40835786e-01,
       -2.38252533e-02, -3.07189980e-01, -4.87666934e-01, -5.89085746e-01,
       -6.57054960e-01, -7.24534747e-01, -7.85765073e-01, -7.93639146e-01,
       -6.83275730e-01, -4.10251604e-01,  1.66280656e-02,  5.26159936e-01,
        1.00554917e+00,  1.34217464e+00,  1.46642354e+00,  1.37512062e+00,
        1.12509965e+00,  8.01751538e-01,  4.79747402e-01,  1.96029082e-01,
       -5.26968635e-02, -2.89704555e-01, -5.29200458e-01, -7.56274901e-01,
       -9.27397012e-01, -9.90664525e-01, -9.13704035e-01, -7.03007783e-01,
       -4.03657988e-01, -7.97591570e-02,  2.13081432e-01,  4.47593870e-01,
        6.26292128e-01,  7.64978235e-01,  8.69496688e-01,  9.20903038e-01,
        8.79200264e-01,  7.04858108e-01,  3.86721719e-01, -3.95376323e-02,
       -4.94169638e-01, -8.78401262e-01, -1.11114877e+00, -1.15993210e+00,
       -1.05050326e+00, -8.49885826e-01, -6.31027980e-01, -4.37076648e-01,
       -2.63875937e-01, -6.99155759e-02,  1.91624894e-01,  5.36045012e-01,
        9.25624673e-01,  1.27566409e+00,  1.48589559e+00,  1.48202192e+00,
        1.24721567e+00,  8.28888320e-01,  3.18656689e-01, -1.83493302e-01,
       -6.02967919e-01, -9.06962696e-01, -1.09845852e+00, -1.19486538e+00,
       -1.20573686e+00, -1.12299780e+00, -9.28855282e-01, -6.15873673e-01,
       -2.06400345e-01,  2.41629731e-01,  6.48433437e-01,  9.40811809e-01,
        1.08151951e+00,  1.08390874e+00,  1.00296451e+00,  9.06121564e-01,
        8.38421051e-01,  8.00256396e-01,  7.49705918e-01,  6.28381245e-01,
        3.97013583e-01,  6.17517828e-02, -3.22758714e-01, -6.74917794e-01,
       -9.20722906e-01, -1.02325697e+00, -9.92383854e-01, -8.71008476e-01,
       -7.06987182e-01, -5.27258993e-01, -3.28928929e-01, -9.19104072e-02,
        1.94936541e-01,  5.10268189e-01,  7.94371067e-01,  9.66527657e-01,
        9.58499804e-01,  7.47705629e-01,  3.72853364e-01, -7.68235360e-02,
       -4.94337937e-01, -7.94371729e-01, -9.41097749e-01, -9.52486622e-01,
       -8.81059691e-01, -7.82262486e-01, -6.86759319e-01, -5.89886226e-01,
       -4.62176779e-01, -2.74037963e-01, -2.05876999e-02,  2.67148881e-01,
        5.31069521e-01,  7.10347597e-01,  7.68243034e-01,  7.06861664e-01,
        5.62025637e-01,  3.81599526e-01,  1.99961072e-01,  2.33839699e-02,
       -1.65368720e-01, -3.86296025e-01, -6.38004985e-01, -8.85262379e-01,
       -1.06693316e+00, -1.12139669e+00, -1.01633653e+00, -7.66696922e-01,
       -4.30407985e-01, -8.33162860e-02,  2.13600891e-01,  4.36822622e-01,
        6.00099967e-01,  7.32075213e-01,  8.45791337e-01,  9.19696930e-01,
        9.03331353e-01,  7.45923126e-01,  4.31637310e-01,  1.38244184e-04,
       -4.61195747e-01, -8.51027022e-01, -1.09636333e+00, -1.18074569e+00,
       -1.14325434e+00, -1.04935958e+00, -9.50120881e-01, -8.52527841e-01,
       -7.17579645e-01, -4.87549340e-01, -1.27917370e-01,  3.38937988e-01,
        8.27618392e-01,  1.21666225e+00,  1.39712483e+00,  1.31989392e+00,
        1.01877523e+00,  5.97765862e-01,  1.88128542e-01, -1.04766376e-01,
       -2.40452475e-01, -2.51182890e-01, -2.16505100e-01, -2.17896031e-01,
       -2.95461902e-01, -4.27017114e-01, -5.38747861e-01, -5.41497016e-01,
       -3.74781372e-01, -3.76244755e-02,  4.07631533e-01,  8.58934973e-01,
        1.21299958e+00,  1.40013174e+00,  1.40066898e+00,  1.23914279e+00,
        9.63708184e-01,  6.24041138e-01,  2.58495520e-01, -1.06407463e-01,
       -4.48759675e-01, -7.44330503e-01, -9.66102473e-01, -1.09129447e+00,
       -1.11151790e+00, -1.03902037e+00, -9.03519872e-01, -7.39433524e-01,
       -5.69660650e-01, -3.95568688e-01, -2.00569127e-01,  3.28930623e-02,
        3.01819894e-01,  5.69790798e-01,  7.72504841e-01,  8.41747962e-01,
        7.37171009e-01,  4.69883097e-01,  1.04834881e-01, -2.61127978e-01,
       -5.36692095e-01, -6.71989163e-01, -6.75876138e-01, -6.05845873e-01,
       -5.35008020e-01, -5.12165584e-01, -5.34979629e-01, -5.50113135e-01,
       -4.80803244e-01, -2.68308548e-01,  9.35254988e-02,  5.47861163e-01,
        9.93614054e-01,  1.32384511e+00,  1.46518588e+00,  1.40042547e+00,
        1.16602528e+00,  8.29200185e-01,  4.58320323e-01,  1.01445849e-01,
       -2.18728268e-01, -4.95079843e-01, -7.20730350e-01, -8.79354901e-01,
       -9.47713620e-01, -9.08693660e-01, -7.65903786e-01, -5.49058186e-01,
       -3.04541190e-01, -7.48991570e-02,  1.21263038e-01,  2.96566721e-01,
        4.83669167e-01,  7.10427483e-01,  9.74390104e-01,  1.23096125e+00,
        1.40349828e+00,  1.41295080e+00,  1.21441493e+00,  8.23263358e-01,
        3.17260546e-01, -1.87919212e-01, -5.79472685e-01, -7.86318658e-01,
       -7.99013069e-01, -6.63229160e-01, -4.51956190e-01, -2.31058479e-01,
       -3.48166530e-02,  1.38069762e-01,  3.08553117e-01,  4.92134129e-01,
        6.79459384e-01,  8.33511973e-01,  9.04638553e-01,  8.54759961e-01,
        6.77284107e-01,  4.01892295e-01,  8.18651253e-02, -2.28795347e-01,
       -4.95799871e-01, -7.11689319e-01, -8.86680452e-01, -1.02985601e+00,
       -1.13301116e+00, -1.16785115e+00, -1.09911289e+00, -9.06378556e-01,
       -6.01776385e-01, -2.32650926e-01,  1.33610007e-01,  4.35597798e-01,
        6.41421642e-01,  7.57040278e-01,  8.14402926e-01,  8.45615947e-01,
        8.57873663e-01,  8.24438676e-01,  6.98521614e-01,  4.43850344e-01,
        6.54433624e-02, -3.77294332e-01, -7.84445845e-01, -1.05169082e+00,
       -1.11195040e+00, -9.62303553e-01, -6.62727460e-01, -3.07177657e-01,
        1.84392514e-02,  2.70256018e-01,  4.55866234e-01,  6.15983420e-01,
        7.89804766e-01,  9.83620413e-01,  1.15975911e+00,  1.25175664e+00,
        1.19769110e+00,  9.74047845e-01,  6.12140885e-01,  1.88276487e-01,
       -2.07331154e-01, -5.06891359e-01, -6.88346825e-01, -7.74758075e-01,
       -8.11558644e-01, -8.34713010e-01, -8.46960389e-01, -8.14616343e-01,
       -6.86493183e-01, -4.25017888e-01, -3.33693240e-02,  4.35491704e-01,
        8.92835046e-01,  1.24459892e+00,  1.42364977e+00,  1.40892117e+00,
        1.22388936e+00,  9.17917285e-01,  5.42577523e-01,  1.36330245e-01,
       -2.75632838e-01, -6.69766435e-01, -1.01167576e+00, -1.25396043e+00,
       -1.34866518e+00, -1.26873345e+00, -1.02608361e+00, -6.74368681e-01,
       -2.92129897e-01,  4.70864767e-02,  3.02967231e-01,  4.79934451e-01,
        6.15121918e-01,  7.48881757e-01,  8.93959940e-01,  1.02076798e+00,
        1.06770527e+00,  9.71942802e-01,  7.04965991e-01,  2.94431932e-01,
       -1.79245427e-01, -6.10485316e-01, -9.07256095e-01, -1.02266230e+00,
       -9.65223560e-01, -7.84789649e-01, -5.43296049e-01, -2.86481450e-01,
       -3.07859054e-02,  2.29628397e-01,  5.02092615e-01,  7.74473180e-01,
        1.00719167e+00,  1.14382532e+00,  1.13544001e+00,  9.65989116e-01,
        6.64974075e-01,  2.99748791e-01, -4.97509287e-02, -3.21902644e-01,
       -4.94912094e-01, -5.88599259e-01, -6.46031269e-01, -7.04752315e-01,
       -7.72702124e-01, -8.21620132e-01, -8.01711876e-01, -6.70077005e-01,
       -4.17837270e-01, -8.13087542e-02,  2.69103795e-01,  5.56846653e-01,
        7.29776552e-01,  7.78040124e-01,  7.30981792e-01,  6.35968369e-01,
        5.31330711e-01,  4.28139729e-01,  3.10068819e-01,  1.50296394e-01,
       -6.50344985e-02, -3.20710422e-01, -5.73179022e-01, -7.67838609e-01,
       -8.63067263e-01, -8.47293797e-01, -7.39448709e-01, -5.72937693e-01,
       -3.73325317e-01, -1.44110931e-01,  1.29689815e-01,  4.61536657e-01,
        8.39047682e-01,  1.21113141e+00,  1.49658341e+00,  1.61243525e+00,
        1.50924980e+00,  1.19601787e+00,  7.41651084e-01,  2.51182583e-01,
       -1.72789844e-01, -4.65507703e-01, -6.16107669e-01, -6.58208260e-01,
       -6.41921279e-01, -6.03089711e-01, -5.45779971e-01, -4.45933340e-01,
       -2.72347376e-01, -1.21788476e-02,  3.13512529e-01,  6.52592018e-01,
        9.41277828e-01,  1.12958197e+00,  1.19922683e+00,  1.16484306e+00,
        1.05858060e+00,  9.07545126e-01,  7.17521558e-01,  4.72908442e-01,
        1.53583311e-01, -2.40393089e-01, -6.70456139e-01, -1.05948510e+00,
       -1.31308376e+00, -1.35421649e+00, -1.15557943e+00, -7.54098705e-01,
       -2.40026319e-01,  2.74804320e-01,  6.95244538e-01,  9.70784353e-01,
        1.10198509e+00,  1.12484587e+00,  1.08301510e+00,  1.00297155e+00,
        8.84662451e-01,  7.10932427e-01,  4.68436726e-01,  1.66639071e-01])

In [52]:
df['num_aval1']

[0. 0. 0. ... 0. 0. 0.]

In [48]:
import re
from scipy.signal import savgol_filter
from typing import List

def _clean_data(data_to_clean: pd.DataFrame, columns:List[str]) -> pd.DataFrame:
    for column in columns:
        try:
            # Removendo linhas com valores ausentes na coluna atual

            # Removendo caracteres especiais da coluna atual
            data_to_clean[column] = data_to_clean[column].apply(lambda x: re.sub(r'[!@#$%¨&*(){}\[\]]', '', str(x)) if not isinstance(x, bool) else x)

            # Aplicando Savitzky-Golay filter se a coluna for numérica
            if pd.api.types.is_numeric_dtype(data_to_clean[column]):
                data_to_clean[column] = savgol_filter(data_to_clean[column], 5, 2) #aplicando filtro de dados ruidosos

        except Exception as e:
            print(data_to_clean[column].name)
            print(e)
            continue

    return data_to_clean

# Supondo que 'df' é o seu DataFrame
df_cleaned = _clean_data(df, df.columns.to_list())

In [39]:
df.dropna()

,cdn_cliente,num_aval1,num_aval2,dt_inscricao,l_cpf,estrutura,Bloqueado,log_ativo,mot_ativo,cdn_repres,...,data-ativacao,data-inativacao,log_ativo_pa,log_cliente_pet,cod_rep_secundario,apl_classif_produtor,apl_dt_valid_classif,cod_transp,log_participante_bayer,log_cooperativa
0,1,0,0,1999-11-01,False,Médio,False,True,COOP Nº 6502 - 23/07/2009,35006,...,2015-12-10,null,True,True,19069,1.0,9999-12-31,71214,False,False
1,2,0,0,1996-03-01,False,Mini,False,True,nan,28000,...,null,null,False,False,0,1.0,9999-12-31,71215,False,False
2,3,0,0,1996-01-24,False,Grande1,False,True,nan,20000,...,null,null,False,False,0,1.0,9999-12-31,48549,False,False
3,4,0,0,1996-03-04,False,Grande1,False,True,nan,49010,...,2015-09-29,null,True,False,0,50.0,9999-12-31,1241,False,False
4,5,0,0,1996-01-24,False,Grande1,False,True,nan,23100,...,null,null,False,False,0,1.0,9999-12-31,71216,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139576,576103,0,0,2024-02-27,False,MINI,False,True,nan,5008,...,null,null,False,False,0,0.0,9999-12-31,0,False,False
139581,576109,0,0,2024-02-27,False,MINI,False,True,nan,73000,...,null,null,False,False,0,0.0,9999-12-31,0,False,False
139582,576105,0,0,2024-02-27,False,PEQUENO,False,True,nan,13014,...,null,null,False,False,0,0.0,9999-12-31,0,False,False
139583,576108,0,0,2024-02-27,False,MINI,False,True,nan,16000,...,null,null,False,False,0,0.0,9999-12-31,0,False,False
139585,566183,0,0,2024-02-27,False,Nenhum,False,True,nan,31000,...,null,null,False,False,0,0.0,9999-12-31,0,False,False

TypeError: expected string or bytes-like object, got 'Series'

In [28]:
data['data-inativacao'].dropna()

0         (null)
1         (null)
2         (null)
3         (null)
4         (null)
           ...
139582    (null)
139583    (null)
139584    (null)
139585    (null)
139586    (null)
Name: data-inativacao, Length: 139587, dtype: object

In [26]:
data['situacao'].count()

139318

In [19]:
data['situacao'] = data['situacao'].drop_duplicates(keep='last')

In [20]:
data['situacao'].count()

2

In [7]:
data2 = data.dropna(subset=['situacao'])

In [9]:
data2['situacao'].count()

139318

In [4]:
unique_values = data['situacao'].unique()
print(unique_values)
139318

['Ativo' 'Inativo' nan]

In [5]:
data

,cdn_cliente,num_aval1,num_aval2,dt_inscricao,l_cpf,estrutura,Bloqueado,log_ativo,mot_ativo,cdn_repres,...,data-ativacao,data-inativacao,log_ativo_pa,log_cliente_pet,cod_rep_secundario,apl_classif_produtor,apl_dt_valid_classif,cod_transp,log_participante_bayer,log_cooperativa
0,1,0,0,1999-11-01,False,Médio,False,True,COOP Nº 6502 - 23/07/2009,35006,...,2015-12-10,(null),True,True,19069,1.0,9999-12-31,71214,False,False
1,2,0,0,1996-03-01,False,Mini,False,True,NaN,28000,...,(null),(null),False,False,0,1.0,9999-12-31,71215,False,False
2,3,0,0,1996-01-24,False,Grande1,False,True,NaN,20000,...,(null),(null),False,False,0,1.0,9999-12-31,48549,False,False
3,4,0,0,1996-03-04,False,Grande1,False,True,NaN,49010,...,2015-09-29,(null),True,False,0,50.0,9999-12-31,1241,False,False
4,5,0,0,1996-01-24,False,Grande1,False,True,NaN,23100,...,(null),(null),False,False,0,1.0,9999-12-31,71216,False,False